.card{
    
    width: 50%;
    color: Black ;
    height: auto;
    margin-left: 20%;
    border: 5px solid red;
    border-radius: 20px;
      background-image:
        linear-gradient(
            rgba(255, 255, 255, 0.3 ),
            rgba(255, 255, 255, 0.3)
        ),
        url('assets/redSaucePasta.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'GreatVibes';
    src:  url('./fonts/GreatVibes-Regular.ttf') format('truetype');
}
.heading{
    font-family: 'GreatVibes', cursive;
    text-align: center;

}
hr{
  border: 2px solid rgb(0, 0, 0);
}
.list1{
    font-size: 20px;
    /* padding-left: 0%; */
    /

}
